.wrap {
  header {
    text-align: center;
    height: 43.5px;
    line-height: 43.5px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
  }

  main {
    margin-top: 25px;
    padding: 0 15px;

    & > .title {
      height: 15px;
      line-height: 15px;
      font-weight: 500;
    }
  }

  .card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 68px;
    padding: 15px 20px 15px 60px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;

    &::before {
      content: "";
      position: absolute;
      left: 20px;
      top: 50%;
      width: 20px;
      height: 20px;
      background-image: url("../../assets/images/time.png");
      background-repeat: no-repeat;
      background-size: 20px;
      border-radius: 50%;
      transform: translateY(-10px);
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .title {
        height: 18px;
        line-height: 18px;
        font-size: 15px;
        color: #7c7c7c;
      }

      .time {
        height: 18px;
        line-height: 18px;
        font-size: 15px;
      }
    }

    button {
      flex-shrink: 0;
      width: 60px;
      text-align: center;
      height: 28x;
      line-height: 26px;
      padding: 0;
      margin-left: 10px;
      background-color: #fff;
      border: 1px solid #7c7c7c;
      border-radius: 22px;
      color: #1a1a1a;
      font-size: 14px;
    }
  }
}
